

*{margin:0; padding:0;}
.nocss {display: none}

.box_diagram {display:inline-block; margin:0.4em; padding:0.1em; border: 1px solid black;}
.box_diagram.block {display:block;}
.box_diagram.filled {border:none; background:lightgrey;margin:0.1em;}
.float_left {float:left;}
.float_right {float:right;}

.content{
  margin-top:4px;
  top:3em;
  bottom:0;
  left:0;
  right:0;
  border:none; text-align: center;font-family: sans-serif; 

}
.content>div {height: 100%; padding-bottom:20%;}
.content p, .content ol, .content ul{text-align: left; margin: 0 auto; padding:1em; max-width: 65em; clear: both;}
.content ol, .content ul {padding: 0 0 0 2em;}
.content div>ol, .content div>ul {padding-left:5em;padding-right:0}
.content img { max-width: 100%; margin:0.5em;}

.todo-list li:before{white-space:nowrap;color: white;margin-right:1em;padding: 1px; font-size: 0.9em;}

.todo-list li.done:before      {content:'(✓ done!)'; background: green;}
.todo-list li:not(.done):before{content:'(✗ to-do)';background: red; }

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}
nav li {
  float: left;
}
nav li a, .nav_text{
  padding: 0.6em;
  display: block;
  text-align: center;
  text-decoration: none;
}
.nav_text {
  padding-right: 2em;
  padding-left: 2em;
  color: #eee;
}
nav li a {
  border: 1px solid #ddd;
  color: #000;
  background-color: #bbb;
}
/*todo:fade in, fade out*/
nav li a:hover {
  color: blue;
}
nav li a.active {
  background-color: yellow;
}